# Import and Initial Cleaning of the Ground Value Dataset
## General Description
 As part of my project in the Tufts class EM212: Applied Datascience, I will
 try to analyse two datasets:
 *   the District Profiles (2007 to 2017) Dataset, containing socio-demographic information about Hamburg's districts
 *   the Ground Value (1964 to 2017) Dataset, containing estimates of the ground value of real estate in Hamburg,
 on an individual property level in Euros / $m^2$

## Information on the Ground Value Dataset
 Each year, the city of Hamburg publishes rough estimates of the value of
 real estate on property level. The so-called "Bodenrichtwert" (abbr. BRW, "reference ground value")
 is the value of a particular property broken down to a $1m^2$ plot of land at a certain location (measured in coordinates).
 The calculation of the BRW takes the following features into account:
 *   location (x,y coordinates)
 *   suitability for development and use (categorical)
 *   current development / use (categorical)
 *   size of the plot

 A recent, detailed description of the data and the features used in the calculation is available
 [here (in German)](https://www.hamburg.de/contentblob/10917486/73e458aa8a5e46f772eacb2b00b4c393/data/d-brw-erlaeuterungen-2017.pdf).
 Additional information is available [here (also in German)](https://www.hamburg.de/bsw/grundstueckswerte/7916004/bodenrichtwert-erlaeuterungen/)

 The City of Hamburg makes this data available through its [Open Data Portal](http://suche.transparenz.hamburg.de/dataset/bodenrichtwerte-fur-hamburg6?forceWeb=true).
 Unfortunately, the data is split up into multiple CSV files, each representing
 one year of observations. In order to work with this dataset, I will download
 the individual CSVs, import them into pandas DataFrames, merge these together
 and save the result as a CSV file.

## Heads Up:
 In order to download and process and store the data, about 4GB of free disk space is required.

In [3]:
# import necessary libraries
import requests
import glob
import pandas as pd
import numpy as np
import datetime
import sys
import re
from zipfile import ZipFile
from io import BytesIO, StringIO

### Downloading the data
 The next cell will download the compressed CSV files from Box. This should be much faster
 than getting them from the original source. If you prefer downloading them
 from the Open Data Portal directly, skip this cell and use the commented out
 code in the cells below. Otherwise, use this cell and proceed normally.

In [4]:

url = "https://tufts.box.com/shared/static/r9v656dng1b0ncl3vhyc9mgph884aqk5.zip"

print("Downloading zip file...")
r = requests.get(url, allow_redirects=True)
zip = ZipFile(BytesIO(r.content))
files = zip.namelist()
print("Done.")

# filter out residual mac files (DS store and such)
csvs = [file for file in files if (not "__" in file) and ("br" in file)]
csvs.sort()

dfs = []
for file in csvs:
    print("Reading file " + file + "...")
    with zip.open(file) as csvfile:
        dfs.append(pd.read_csv( csvfile,
                                sep="|",
                                header=0,
                                encoding="ISO-8859-1" # this encoding seems to be correct
                                ))
print("Concatening dataframes...")
data = pd.concat(dfs, axis=0, ignore_index=True)
print("Done.")

Downloading zip file...
Done.
Reading file CSVs/br0200001-Hamburg1964.csv...
Reading file CSVs/br0200001-Hamburg1973.csv...
Reading file CSVs/br0200001-Hamburg1975.csv...
Reading file CSVs/br0200001-Hamburg1977.csv...
Reading file CSVs/br0200001-Hamburg1980.csv...
Reading file CSVs/br0200001-Hamburg1982.csv...
Reading file CSVs/br0200001-Hamburg1984.csv...
Reading file CSVs/br0200001-Hamburg1986.csv...
Reading file CSVs/br0200001-Hamburg1988.csv...
Reading file CSVs/br0200001-Hamburg1990.csv...
Reading file CSVs/br0200001-Hamburg1992.csv...
Reading file CSVs/br0200001-Hamburg1994.csv...
Reading file CSVs/br0200001-Hamburg1996.csv...
Reading file CSVs/br0200001-Hamburg1998.csv...
Reading file CSVs/br0200001-Hamburg2000.csv...
Reading file CSVs/br0200001-Hamburg2002.csv...
Reading file CSVs/br0200001-Hamburg2004.csv...
Reading file CSVs/br0200001-Hamburg2006.csv...
Reading file CSVs/br0200001-Hamburg2008.csv...
Reading file CSVs/br0200001-Hamburg2010.csv...

/Users/Paul/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Reading file CSVs/br0200001-Hamburg2011.csv...
Reading file CSVs/br0200001-Hamburg2012.csv...
Reading file CSVs/br0200001-Hamburg2013.csv...

/Users/Paul/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (12,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Reading file CSVs/br0200001-Hamburg2014.csv...
Reading file CSVs/br0200001-Hamburg2015.csv...
Reading file CSVs/br0200001-Hamburg2016.csv...
Reading file CSVs/br0200001-Hamburg2017.csv...
Concatening dataframes...
Done.

### Download from original source
 Only execute the next cell if you would like to download the whole dataset.
 The cell will take a long time to complete, as the server does not seem to offer
 fast download speeds. I have therefore commented out this section so that it
 does not run automatically.

In [5]:
# with open("urls.txt") as file:
#     urls = [line.rstrip('\n') for line in file]
#
# def download(urls):
#     '''Downloads the files specified in list urls'''
#     for url in urls:
#         successful = 0
#         count = len(urls)
#         filename = url.rsplit('/', 1)[1]
#         print("Downloading " + filename + " (" + str(successful) + "/" + str(count) + " completed)...")
#         r = requests.get(url, allow_redirects=True)
#         open(filename, 'wb').write(r.content)
#         print("Done.")
#         current += 1
#
# download(urls) # start the download
#
# # read downloaded CSV files
# files = glob.glob("*.csv") # aggregate all csv files for reading
# files = sorted(files) # sort files to start with the smallest one
# files
#
# # import the data from the CSV files
# dfs = []
# for file in files:
#     print("Reading file " + file + "...")
#     dfs.append(pd.read_csv( file,
#                             sep="|",
#                             header=0,
#                             encoding="ISO-8859-1" # this encoding seems to be correct
#                             ))
# print("Concatening dataframes...")
# data = pd.concat(dfs, axis=0, ignore_index=True)
# print("Done.")

### Initial Data Survey and Cleaning
 Let's take a look at the data. It seems like there are many columns where a
 common ```dtype``` could not be recognized. Because of this, the dataset takes
 up much more storage space than it would if the ```dtypes``` were set properly.
 This should be the first priority before saving the joined dataset to save storage
 space.

In [6]:
data.head(5)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2049911 entries, 0 to 2049910
Data columns (total 47 columns):
GESL        int64
GENA        object
GASL        int64
GABE        object
GENU        float64
GEMA        float64
ORTST       object
WNUM        int64
BRW         float64
STAG        object
BRKE        int64
BEDW        float64
PLZ         object
BASBE       object
BASMA       int64
YWERT       int64
XWERT       int64
BEZUG       object
ENTW        object
BEIT        float64
NUTA        object
ERGNUTA     object
BAUW        object
GEZ         float64
WGFZ        float64
GRZ         float64
BMZ         float64
FLAE        float64
GTIE        float64
GBREI       float64
ERVE        float64
VERG        object
VERF        object
YVERG       float64
XVERG       float64
BOD         float64
ACZA        float64
GRZA        float64
AUFW        float64
WEER        float64
KOORWERT    object
KOORVERF    object
BEM         object
FREI        object
BRZNAME     object
UMDART      int64
LUMNUM      object
dtypes: float64(20), int64(8), object(19)
memory usage: 735.1+ MB

From the [dataset metadata information sheet](https://www.hamburg.de/contentblob/8025502/a106909f7f9c11b8d90312a99a5b62c8/data/d-vboris-modellbeschreibung.pdf),
I have the following list of
variable names and their description. I will first identify those that I will
not be using in my data analysis and can thus drop:

| Variable Name | Description                                      | ```dtype``` / drop |
|---------------|--------------------------------------------------|--------------------|
| GESL          | Ward (code)                                      | drop               |
| GENA          | Ward (name)                                      | drop               |
| GASL          | Surveying institution (code)                     | drop               |
| GABE          | Surveying institution (name)                     | drop               |
| GENU          | Land Survey Registry (code)                      | drop               |
| GEMA          | Land Survey Registry (name)                      | drop               |
| ORTST         | District (name)                                  | category           |
| WNUM          | Ground Value Number (code)                       | drop               |
| BRW           | Ground Value                                     | float              |
| STAG          | Observation / Survey Date                        | date (dd.mm.yyyy)  |
| BRKE          | kind of ground value                             | integer            |
| BEDW          | "Requirements value"                             | drop               |
| PLZ           | zip code                                         | integer            |
| BASBE         | base map reference                               | drop               |
| BASMA         | base map scale                                   | drop               |
| YWERT         | BRW geo-reference (east)                         | integer            |
| XWERT         | BRW geo-reference (north)                        | integer            |
| BEZUG         | coordinate system used                           | drop               |
| ENTW          | current state of development                     | category           |
| BEIT          | development state according to taxes             | category           |
| NUTA          | kind of current usage                            | category           |
| ERGNUTA       | extension of NUTA                                | category           |
| BAUW          | current building type                            | category           |
| GEZ           | number of floors                                 | float              |
| WGFZ          | number of floors relevant for BRW                | float              |
| GRZ           | site coverage factor                             | float              |
| BMZ           | cubic index                                      | float              |
| FLAE          | site area  in $m^2$                              | float              |
| GTIE          | site depth  in meters                            | float              |
| GBREI         | site width in meters                             | float              |
| ERVE          | accessibility                                    | category           |
| VERG          | zoning city development information              | category           |
| VERF          | state of remediation                             | category           |
| YVERG         | coordinate of city planning measure (east)       | drop               |
| XVERG         | coordinate of city planning measure (north)      | drop               |
| BOD           | kind of ground                                   | float              |
| ACZA          | index value of agricultural land                 | drop               |
| GRZA          | index value of agricultural land                 | drop               |
| AUFW          | historical reference for reforestation           | drop               |
| WEER          | accessible roads for agriculture / forestry      | drop               |
| KOORWERT      | geo-reference polygon for BRW zone               | drop               |
| KOORVERF      | geo-reference polygon for city planning measures | drop               |
| BEM           | notes                                            | drop               |

As a first step, I will mark the selected columns to be dropped:

In [7]:
cols_to_drop = [    "GESL", "GENA", "GASL", "GABE", "GENU", "GEMA",
                    "WNUM", "BEDW", "BASBE", "BASMA", "BEZUG", "YVERG",
                    "XVERG", "ACZA", "GRZA", "AUFW", "WEER", "KOORWERT",
                    "KOORVERF", "BEM" ]

Next, I will list all columns that were not detected as being numerical:

In [8]:
non_numerical = pd.DataFrame(data.select_dtypes(exclude="number").dtypes).reset_index()
non_numerical

       index       0
0       GENA  object
1       GABE  object
2      ORTST  object
3       STAG  object
4        PLZ  object
5      BASBE  object
6      BEZUG  object
7       ENTW  object
8       NUTA  object
9    ERGNUTA  object
10      BAUW  object
11      VERG  object
12      VERF  object
13  KOORWERT  object
14  KOORVERF  object
15       BEM  object
16      FREI  object
17   BRZNAME  object
18    LUMNUM  object

I know that there are some column that are empty or that only contain one value.
I wrote a function that should check each column for this condition and then
save its only value and mark it to be dropped from the main dataset.

The following columns appear to be empty or contain only one value, which has been saved in
´´´saved_info´´´. They can thus be dropped from the main dataset.

In [9]:
saved_info = {} # dictionary for info that might be useful, but does not need to be in dataframe

def save_info_and_mark(drop=cols_to_drop, save=saved_info, df=data):
    """If a column only contains one unique value, save it into save and mark to column to be dropped"""
    for column in df:
        unique_values = df[column].unique()
        if len(unique_values) == 1:
            save[column] = df[column].unique()[0]
            if column not in drop:
                drop.append(column)
    return save, drop

# iterate over all columns in non-numerical and check for columns containing only one value,
# save its content and mark it to be dropped
saved_info, cols_to_drop = save_info_and_mark()

almost_empty = pd.DataFrame(saved_info, index=[0]).transpose().reset_index() # show the stored content
almost_empty.columns = ["column", "only value"]
almost_empty

    column    only value
0     GENA       Hamburg
1     GASL             1
2     GENU           NaN
3     GEMA           NaN
4     BEDW           NaN
5    BEZUG  ETRS89_UTM32
6      GEZ           NaN
7      GRZ           NaN
8      BMZ           NaN
9    GBREI           NaN
10    ERVE           NaN
11     BOD           NaN
12    AUFW           NaN
13    WEER           NaN
14  UMDART             0

It is now time to actually drop the columns that I earmarked:

In [10]:
data.drop(columns=cols_to_drop, inplace=True)

Let's take a closer look at the remaining columns:

In [11]:
# list the remaining non-numerical columns
non_numerical = pd.DataFrame(data.select_dtypes(exclude="number").dtypes).reset_index()
non_numerical

unique = {}
for column in non_numerical["index"]: # list the unique values of the remaining non numerical columns
    unique[column] = data[column].unique()
unique

{'ORTST': array(['Rissen', 'Iserbrook', 'Osdorf', 'Lurup', 'Othmarschen',
        'Bahrenfeld', 'Eidelstedt', 'Schnelsen', 'Hausbruch', 'Stellingen',
        'Eißendorf', 'Altona-Nord', 'Altona-Altstadt', 'Lokstedt',
        'Niendorf', 'Harburg', 'St. Pauli', 'Hamburg-Altstadt',
        'Rotherbaum', 'Eppendorf', 'Groß Borstel', 'Langenhorn',
        'Wilstorf', 'Langenbek', 'Wilhelmsburg', 'Klostertor',
        'Winterhude', 'Fuhlsbüttel', 'Barmbek-Süd', 'Hummelsbüttel',
        'Eilbek', 'Marienthal', 'Bramfeld', 'Steilshoop', 'Poppenbüttel',
        'Lemsahl-Mellingstedt', 'Allermöhe', 'Moorfleet', 'Wandsbek',
        'Farmsen-Berne', 'Jenfeld', 'Tonndorf', 'Rahlstedt', 'Lohbrügge',
        'Bergedorf', 'Neuenfelde', 'Cranz', 'Blankenese',
        'Neugraben-Fischbek', 'Sülldorf', 'Francop', 'Nienstedten',
        'Finkenwerder', 'Groß Flottbek', 'Moorburg', 'Heimfeld',
        'Ottensen', 'Marmstorf', 'Sinstorf', 'Eimsbüttel', 'Hoheluft-West',
        'Neustadt', 'Harvestehude', 'Hoheluft-Ost', 'Alsterdorf',
        'Rönneburg', 'Neuland', 'Gut Moor', 'Kleiner Grasbrook', 'Veddel',
        'St. Georg', 'Hammerbrook', 'Hohenfelde', 'Uhlenhorst', 'Ohlsdorf',
        'Rothenburgsort', 'Hamm-Süd', 'Borgfelde', 'Hamm-Mitte',
        'Hamm-Nord', 'Barmbek-Nord', 'Dulsberg', 'Ochsenwerder',
        'Tatenberg', 'Spadenland', 'Billbrook', 'Horn', 'Wellingsbüttel',
        'Duvenstedt', 'Billstedt', 'Sasel', 'Bergstedt', 'Kirchwerder',
        'Reitbrook', 'Billwerder', 'Volksdorf', 'Wohldorf-Ohlstedt',
        'Neuengamme', 'Curslack', 'Altengamme', 'Altenwerder', 'Neuwerk',
        'Sternschanze', 'Steinwerder', 'HafenCity', 'Waltershof', 'Hamm',
        'Neuallermöhe', 'GroÃ\x9f Flottbek', 'SÃ¼lldorf', 'EimsbÃ¼ttel',
        'GroÃ\x9f Borstel', 'Barmbek-SÃ¼d', 'FuhlsbÃ¼ttel',
        'WellingsbÃ¼ttel', 'PoppenbÃ¼ttel', 'HummelsbÃ¼ttel', 'LohbrÃ¼gge',
        'AllermÃ¶he', 'RÃ¶nneburg', 'EiÃ\x9fendorf', 'NeuallermÃ¶he'],
       dtype=object),
 'STAG': array(['01.01.1964', '31.12.1973', '31.12.1975', '31.12.1977',
        '31.12.1980', '31.12.1982', '31.12.1984', '31.12.1986',
        '31.12.1988', '31.12.1990', '31.12.1992', '31.12.1994',
        '01.01.1996', '01.01.1998', '01.01.2000', '01.01.2002',
        '01.01.2004', '01.01.2006', '01.01.2008', '31.12.2010',
        '31.12.2011', '31.12.2012', '31.12.2013', '31.12.2014',
        '31.12.2015', '31.12.2016', '31.12.2017'], dtype=object),
 'PLZ': array([22559, 22589, 22609, 22549, 22605, 22761, 22547, 22525, 22523,
        22457, 21147, 21073, 22765, 22769, 22527, 22529, 22453, 22459,
        22455, 21079, 20359, 20457, 20148, 22419, 21109, 20097, 20095,
        22299, 22415, 22335, 22083, 22339, 22089, 22041, 22177, 22179,
        22309, 22399, 22397, 21035, 22113, 22047, 22159, 22175, 22391,
        22045, 22043, 22143, 21031, 22145, 21129, 22587, 21149, 22607,
        22763, 25469, 21077, 21075, 21107, 22767, 20357, 20259, 20257,
        20255, 20253, 20459, 20355, 20354, 20146, 20144, 20149, 20249,
        20251, 22297, 20539, 20099, 22087, 22085, 22301, 22303, 22337,
        22417, 20537, 20535, 22081, 22305, 22307, 21037, 22111, 21509,
        22049, 22117, 22119, 22393, 22395, 21033, 22115, 22149, 22147,
        22359, 21029, 21039, 22869, 27499, 22880, 25462, 21217, 21629,
        21635, 22885, 22889, 21218, 21224, '21077', '21079', '21217',
        '21075', '21073', '21149', '21129', '21147', '21629', '21635',
        '20535', '20537', '22111', '22119', '22117', '22115', '22113',
        '20539', '21109', '21107', '20457', '22767', '22769', '22525',
        '22761', '22607', '22609', '22605', '22763', '22547', '22549',
        '22589', '22587', '22559', '20257', '20146', '20148', '20144',
        '22529', '22527', '22455', '22453', '22459', '22457', '25462',
        '22523', '20251', '20249', '22297', '22335', '22337', '22299',
        '22303', '22301', '22085', '22087', '22305', '22307', '22339',
        '22419', '22417', '22415', '22089', '22041', '22049', '22047',
        '22043', '22045', '22885', '22159', '22145', '22147', '22175',
        '22177', '22179', '22309', '22391', '22395', '22393', '22399',
        '22397', '22359', '22143', '22149', '21033', '21031', '21035',
        '21029', '21039', '21037', '20259', '27499', '20149', '22081',
        '224^9', '22765', '20095', '20099', '20459', '20355', '20354',
        '20357', '20359', '20097', '25469', '22869', '20255', '20253',
        '22083', '21218', '21224', '22889', '22880', 21028], dtype=object),
 'ENTW': array(['B', 'SF', 'R', 'L', 'LF'], dtype=object),
 'NUTA': array(['M', 'CA', 'SPO', 'A', 'GR', 'F', 'EGA', 'LW'], dtype=object),
 'ERGNUTA': array(['EFH', 'BGH', 'LAD', 'MFH', 'BH', 'PL', 'EKZ', 'CA', 'WGH', 'SPO',
        'GH', nan, 'GEM'], dtype=object),
 'BAUW': array(['rm', 'eh', nan, 'a', 'g', 'dh'], dtype=object),
 'VERG': array([nan, 'San'], dtype=object),
 'VERF': array([nan, 'SB'], dtype=object),
 'FREI': array(['031.012.1977;22;WR II RH  ;(2-geschossig)                                              ;   14,32;        ;        ;        ;        ;          ;    ;        ;          ;    ;        ;          ;    ;        ;          ;    ;        ;          ;    ;',
        '031.012.1977;11;WR I      ;(1-geschossig)                                              ;   37,32;        ;        ;        ;        ;          ;    ;        ;          ;    ;        ;          ;    ;        ;          ;    ;        ;          ;    ;',
        '031.012.1977;11;WR I      ;(1-geschossig)                                              ;   18,41;        ;        ;        ;        ;          ;    ;        ;          ;    ;        ;          ;    ;        ;          ;    ;        ;          ;    ;',
        ...,
        '          ;92;GR        ;                                                            ;    6,36;        ;        ;        ;        ;          ;    ;        ;          ;    ;        ;          ;    ;        ;          ;    ;        ;          ;    ;        ',
        '          ;93;EGA       ;                                                            ;    6,58;        ;        ;        ;        ;          ;    ;        ;          ;    ;        ;          ;    ;        ;          ;    ;        ;          ;    ;        ',
        '          ;96;F         ;                                                            ;    3,63;        ;        ;        ;        ;          ;    ;        ;          ;    ;        ;          ;    ;        ;          ;    ;        ;          ;    ;        '],
       dtype=object),
 'BRZNAME': array(['A029;Adebarweg;79;;;Altona;32004;',
        'T200;Tristanweg;14;;Isoldeweg 9;Altona;32002;',
        'W381;Wolfrunweg;11;;Siegrunweg 20;Altona;32003;', ...,
        'B885;Brooktorpromenade;3;ca.;;Hamburg-Mitte;2001;103034',
        'H474;Hirtenweg;1;ca.;;Altona;27008;219084',
        'H474;Hirtenweg;2;ca.;;Altona;27008;219084'], dtype=object),
 'LUMNUM': array([nan, 'uf0200001-Bodenrichtwert-Erlaeuterung1973.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung1975.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung1977.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung1980.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung1982.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung1984.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung1986.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung1988.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung1990.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung1992.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung1994.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung1996.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung1998.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung2000.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung2002.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung2004.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung2006.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung2008.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung2010.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung2011.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung2012.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung2013.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung2014.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung2015.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung2016.pdf',
        'uf0200001-Bodenrichtwert-Erlaeuterung2017.pdf'], dtype=object)}

It looks like there are a few more columns that I can drop or convert:
*   ORTST contains the district names, I will make it categorical
*   STAG holds the date the real estate evaluation was done for, so convert it to datetime
*   PLZ holds ZIP codes and can safely be converted to integer
*   there appear to be some categorical variables, I will convert them to categorical format
    - ENTW
    - NUTA
    - ERGNUTA
    - BAUW
    - VERG
    - VERF
*   FREI seems very messy, I will try to work without it for now
*   BRZNAME holds only a few addresses, I will not need it for my analysis
*   LUMNUM contains a reference to the PDF holding the corresponding metadata, should be safe to drop

In [12]:
cols_to_drop = ["FREI", "BRZNAME", "LUMNUM"] # drop these columns
data.drop(columns=cols_to_drop, inplace=True)

data.ORTST = data.ORTST.astype("category") # convert ORTST to category
data.STAG = pd.to_datetime(data.STAG, format="%d.%m.%Y") # convert STAG to datetime
data.PLZ = pd.to_numeric(data.PLZ, downcast="integer", errors="coerce") # convert PLZ to numerical, it contains some strings
# convert BASBE, ENTW, NUTA, ERGNUTA, BAUW, VERG, VERF, BEM to categorical
to_convert = ["ENTW", "NUTA", "ERGNUTA", "BAUW", "VERG", "VERF"]
for var in to_convert:
    data[var] = data[var].astype("category")

Let's check if there are any columns that only contain missing values. These can be dropped
as well:

In [13]:
for column in data:
    if data[column].isnull().all():
        data.drop(columns=column, inplace=True)
        print("Dropped column " + column)

It looks like there are some issues with the German Umlauts in ORTST:

In [14]:
data.ORTST.loc[data.ORTST.str.contains("Ã")].unique()

[GroÃ Flottbek, SÃ¼lldorf, EimsbÃ¼ttel, GroÃ Borstel, Barmbek-SÃ¼d, ..., LohbrÃ¼gge, AllermÃ¶he, RÃ¶nneburg, EiÃendorf, NeuallermÃ¶he]
Length: 14
Categories (14, object): [GroÃ Flottbek, SÃ¼lldorf, EimsbÃ¼ttel, GroÃ Borstel, ..., AllermÃ¶he, RÃ¶nneburg, EiÃendorf, NeuallermÃ¶he]

The problem seems to be wrong encoding:
- "ß" has been replaced with "Ã"
- "ü" has been replaced with "Ã¼"
- "ö" has been replaced with "Ã¶"
I will try to undo these changes:

In [15]:
def revert_encoding(s):
    if "Ã¶" in s:
        return s.replace("Ã¶", "ö")
    if "Ã¼" in s:
        return s.replace("Ã¼", "ü")
    if "Ã\x9f" in s:
        return s.replace("Ã\x9f", "ß")
    return s

data.ORTST = data.ORTST.apply(revert_encoding) # apply the new function to the ORSTS column
data.ORTST = data.ORTST.astype("category") # convert ORTST to category again
pd.DataFrame(item for item in data.ORTST.unique()) # this looks much better!

                     0
0               Rissen
1            Iserbrook
2               Osdorf
3                Lurup
4          Othmarschen
5           Bahrenfeld
6           Eidelstedt
7            Schnelsen
8            Hausbruch
9           Stellingen
10           Eißendorf
11         Altona-Nord
12     Altona-Altstadt
13            Lokstedt
14            Niendorf
15             Harburg
16           St. Pauli
17    Hamburg-Altstadt
18          Rotherbaum
19           Eppendorf
20        Groß Borstel
21          Langenhorn
22            Wilstorf
23           Langenbek
24        Wilhelmsburg
25          Klostertor
26          Winterhude
27         Fuhlsbüttel
28         Barmbek-Süd
29       Hummelsbüttel
..                 ...
78          Hamm-Mitte
79           Hamm-Nord
80        Barmbek-Nord
81            Dulsberg
82        Ochsenwerder
83           Tatenberg
84          Spadenland
85           Billbrook
86                Horn
87      Wellingsbüttel
88          Duvenstedt
89           Billstedt
90               Sasel
91           Bergstedt
92         Kirchwerder
93           Reitbrook
94          Billwerder
95           Volksdorf
96   Wohldorf-Ohlstedt
97          Neuengamme
98            Curslack
99          Altengamme
100        Altenwerder
101            Neuwerk
102       Sternschanze
103        Steinwerder
104          HafenCity
105         Waltershof
106               Hamm
107       Neuallermöhe

[108 rows x 1 columns]

The somewhat reduced dataset now looks like this:

In [16]:
data.head(5)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2049911 entries, 0 to 2049910
Data columns (total 17 columns):
ORTST      category
BRW        float64
STAG       datetime64[ns]
BRKE       int64
PLZ        float64
YWERT      int64
XWERT      int64
ENTW       category
BEIT       float64
NUTA       category
ERGNUTA    category
BAUW       category
WGFZ       float64
FLAE       float64
GTIE       float64
VERG       category
VERF       category
dtypes: category(7), datetime64[ns](1), float64(6), int64(3)
memory usage: 170.1 MB

With the basic cleaning done, I can now store the dataset as a pickle file.
Since it is still rather large, I will compress it after pickling:

In [17]:
data.to_pickle("../data/joined_ground_values.pkl.zip")

### Preparing the dataset for merging
 Assuming the data has been saved into ```../data/joined_ground_values.pkl``` before,
 it is possible to continue from this cell:

In [18]:
data = pd.read_pickle("../data/joined_ground_values.pkl.zip")

Since the other dataset (district profiles) is on a district-year-level, I need to collapse this dataset
over districts and years. For this step, it is important to know which variables
can be collapsed in a meaningful way. For example, it does not make sense to
collapse the zip codes using an average. Since my analysis will focus on the ground value,
I will first collapse only this column by district (```ORTST```) and year (```STAG```). In
the collapsed dataset, I will use the new column name ```GV``` for the ground value.
Since the average of the ground values might be skewed by expensive clusters within
districts, I will also include the median and some descriptive statistics while collapsing:

In [19]:
to_collapse = data[["ORTST", "STAG", "BRW"]]
to_collapse.columns = ["district", "year", "GV"]
to_collapse["year"] = to_collapse["year"].dt.year # preserve only the year for now

collapsed = to_collapse.groupby(["district", "year"]).mean()
collapsed.columns = ["GV_mean"]
collapsed["GV_median"] = to_collapse.groupby(["district", "year"]).median()
collapsed["GV_std"] = to_collapse.groupby(["district", "year"]).std()
collapsed["GV_count"] = to_collapse.groupby(["district", "year"]).count()["GV"]
collapsed.head()

/Users/Paul/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                  GV_mean  GV_median     GV_std  GV_count
district  year
Allermöhe 1964  13.420000      12.78   1.280000       4.0
          1973  16.876000      17.90   1.402170       5.0
          1975  21.476000      23.01   2.285822       5.0
          1977  30.678000      30.68   3.616852       5.0
          1980  63.058889      51.13  26.689191       9.0

Looks like everything went well! It is now time to store the finished dataset and
continue with the data analysis (see ```data-analysis``` notebook).

In [20]:
collapsed.to_pickle("../data/collapsed_ground_values.pkl") # holds collapsed data across all years